* {
  margin: 0px;
  padding: 0px;
}


.rafi-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 396px;
  
  border-radius: 8px;
  margin-left: 50px;
  margin-top: 50px;
}

.rafi-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rafi-card img {
  width: 396px;
  height: 222.75px;
  border-top-right-radius: 3px;
  border-top-left-radius: 4px;
}

.rafi-container {
  height: auto;
  font-family: sans-serif;
  padding: 8px 16px 16px;
}

.rafi-container a {
  text-decoration: none;
  color: #0033ff;
  font-weight: bold;
  font-size: large;
}

.rafi-container p {
  font-size: medium;
  word-spacing: 4px;
  padding-bottom: 20px;
  color: rgba(66, 66, 66, 0.913);
}

.rafi-container h4 {
  font-size: x-large;
  color: rgba(58, 58, 58, 0.898);
}
.rafi-container:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}