/* CSS Ainun */

.card {
  border-radius: 8px;
  margin-left: 50px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 435px;
}

.card:hover {
  box-shadow: 3px 8px 16px 3px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  margin-bottom: 15px;
}

.card a {
  color: blue;
  font-weight: 600;
  text-transform: capitalize;
}

.card a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Metropolis;
}

.detail h3 {
  font-family: "Metropolis", sans-serif;
  font-style: 16px;
  font-weight: 600;
  color: #1f2937;
}

.detail p {
  font-size: 12px;
  font-family: "Metropolis", sans-serif;
  letter-spacing: 0;
  color: #1f2937;
  line-height: 18px;
}

.button {
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 16px;
}

.svg {
  margin-top: 3px;
}

/* CSS Ainun */
